---
import { SITE } from "../config";

const today = new Date();
const year = today.getFullYear();
---

<footer class="p-4 pt-16 text-center">
  <p class="text-sm text-neutral-500">
    &copy; {year}
    {SITE.name}. All rights reserved.
  </p>
</footer>
