---
import { SITE } from "../config";
---

<header class="flex space-x-8 pt-4 items-end">
  <a class="text-2xl font-bold mr-16 hover:scale-[1.02] transition" href="/"
    >{SITE.name}</a
  >
  <a href="/">Home</a>
  <a href="/articles">Articles</a>
</header>
