---
import BaseLayout from "./BaseLayout.astro";

const { article } = Astro.props;
---

<BaseLayout>
  <h1 class="mt-16">{article.data.title}</h1>
  <p class="mb-16 text-gray-600 text-lg">{article.data.description}</p>
  <article>
    <slot />
  </article>
</BaseLayout>
